# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo
*.userprefs

# Build results
Debug/
Release/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets & config
appsettings.json
appsettings.*.json

# Runtime state
live_state.json
last_video_state.json

# Docker
.dockerignore