# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo
*.userprefs

# Build results
Debug/
Release/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets & config

appsettings.Development.json

# Runtime state
data/

# Docker
.dockerignore